.Element,
.Element_focussed {
  margin-top: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.Element {
  background-color: blue;
}

.Element_focussed {
  background-color: green;
}
